.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  .content {
    padding: 24px;
  }
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
